.task-container{
    height: 170px;
    width: 350px;
    border: 2px solid #00e6e6 ;
    padding: 10px;
    margin: 0px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #00e6e6 ;
    background-color: #ccffff;  
}
.task-container:hover{
    box-shadow: 4px 2px 6px 4px #00e6e6 ;
}
.task-city{
    font-size: 22px;
    margin: 5px;
    font-family: cursive;
}
.task-education{
    font-size: 22px;
    margin: 5px;
    font-family: cursive;
}
.task-age{
    font-size: 22px;
    margin: 5px;
    font-family: cursive;
}
.task-name{
    font-size: 25px;
    margin: 0px;
    margin: 5px;
    font-weight: bold;
    
    
}
.task-delet{
    display: flex;
    justify-content: end;
    cursor: pointer;
}